<!--create fluid container for full width background image-->
<div class="bottom-border--orange inner-shadow sadd-home-skills sadd-home-skills--animation">
    <!--create normal container to constrain width of page content-->
    <div class="container">
        <!--create first row-->
        <div class="row">

            <div class="col-md-4 col-md-push-8">
                <img class="img-responsive img-thumbnail img-rounded sadd-home-skills__example" src="/images/projects/animated-logos/animated-logos-thumb.png">
                <a href="/animation.html" class="btn btn-primary btn-lg btn-block sadd-home-skills__btn" style="">View Design Work</a>
            </div>

            <div class="col-md-8 col-md-pull-4">
                <div class="panel">
                    <div class="panel-body">
                        <div class="showcase-icon"><img class="svg-inject" src="/images/ui/icons/showcase-icons_time-line.svg"></div>
                        <h2>Animation</h2>
                        <hr>
                        <p class="lead">A brand should be recognised through motion as well as visuals</p>
                        <p>The potential for viewing moving image is on par with print through interactive billboards, smartphones and projectors. We are no longer constrained to the limitations of print media.</p>
                        <p>I aim to blur the line between graphic design and animation. To form short sequences that are eye catching, yet not overbearing.</p>
                        <p>I also have the skills required for video editing and audio mastering.</p>
                    </div>
                </div>
            </div>

        </div>
        <!--end first row-->
    </div>
    <!--end restricted width container-->
</div>
<!--end fluid container for background image-->