<div class="sadd-body sadd-about bottom-border--orange">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-4">
                <h2>About</h2>
                <hr>
            </div>
        </div>
        <div class="row">

            <div class="col-xs-6 col-xs-offset-3 col-md-2 col-md-offset-2">
                <img class="sadd-profile img-responsive img-thumbnail img-circle" src="/images/ui/aboutme.jpg">
            </div>

            <div class="col-xs-12 col-md-6">

                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>Currently, I am employed as a Full-time UI developer and AV specialist; and freelance web and graphic designer based in Oxfordshire, UK.</p>
                        <p>I have 7 years professional experience in website design (wireframing, HTML5, CSS3 (w/ SASS), Javascript), illustration, moving-image, and graphic design.</p>
                        <p>The wide spectrum of skills I have acquired allow me to see a project through from start to finish; from the realisation of a new brand, to the construction of a fully-featured website.</p>
                        <p>My aim is to produce a coherent, effective interface between your company and their audience.</p>
                        <p><strong>For more information contact me on <a href="mailto:sallen@stuartallen.design?Subject=SAD%20contact">sallen@stuartallen.design</a></strong></p>
                        <h3>Skills</h3>
                        <ul>
                            <li>User Interface Design</li>
                            <li>User Experience Design</li>
                            <li>Graphic Design</li>
                            <li>HTML5</li>
                            <li>CSS</li>
                            <li>SASS</li>
                            <li>Data Visualisation</li>
                            <li>Front-end Development</li>
                            <li>Graphic Animation</li>
                            <li>Video Editing</li>
                            <li>JavaScript</li>
                            <li>jQuery</li>
                            <li>D3.js</li>
                            <li>Exhibit Design</li>
                            <li>3D Modeling</li>
                            <li>Architectural Design</li>
                            <li>WordPress</li>
                            <li>Joomla</li>
                            <li>Digital Media</li>
                            <li>Microsoft Office</li>
                            <li>Adobe Creative Suite</li>
                            <li>Illustrator</li>
                            <li>InDesign</li>
                            <li>Photoshop</li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>