<!--hero background to free up div so we can add a transparent overlay-->
<div class="sadd-webdesign-bg">
    <!--add enough padding-top so the content doesn't get lost behind the header and add a border-bottom-->
    <div class="bottom-border--default">

        <div class="container">

            <div class="row sadd-projects__intro">

                <div class="col-xs-4 col-xs-offset-4 col-sm-2 col-sm-offset-2">
                    <div class="square-container sadd-home-showcase__image">
                        <div class="square-content">
                            <img class="svg-inject img-responsive" src="/images/ui/icons/showcase-icons_{{showcase-icon}}.svg">
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6">
                    <div class="showcase-hero__text">
                        <h1 class="">{{pageName}}</h1>
                        <hr class="">
                        <p class="">{{intro-copy}}</p>
                    </div>
                </div>

            </div>

        </div>
    </div>


</div>