<!--intro with hero background-->
<div class="sadd-hero-bg">
    <div class="bottom-border--default">
        <div class="container">

            <div class="row sadd-home-intro">

                <div class="col-sm-6 col-sm-offset-3">
                    <div class="sadd-home-intro__name">Stuart Allen</div>
                    <hr class="sadd-home-intro__rule">
                    <div class="sadd-home-intro__role">digital design</div>
                    <div class="sadd-home-intro__copy">a versatile designer with experience in UI design, front-end development and graphic design</div>
                </div>

            </div>

            <div class="row sadd-home-social">

                <div class="col-xs-3 col-sm-2 col-sm-offset-2 col-md-1 col-md-offset-4">
                    <div class="square-container">
                        <div class="square-content">
                            <a href="https://twitter.com/stuart_a_design">
                                <svg viewBox="0 0 64 64" class="img-responsive" alt="twitter">
                                    <use xlink:href="#twitter"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-2 col-md-1">
                    <div class="square-container">
                        <div class="square-content">
                            <a href="https://www.instagram.com/stuart_allen_design/">
                                <svg viewBox="0 0 64 64" class="img-responsive" alt="instagram">
                                    <use xlink:href="#instagram"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-2 col-md-1">
                    <div class="square-container">
                        <div class="square-content">
                            <a href="https://www.facebook.com/Stuart-Allen-Design-233081700392402/">
                                <svg viewBox="0 0 64 64" class="img-responsive" alt="facebook">
                                    <use xlink:href="#facebook"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-2 col-md-1">
                    <div class="square-container">
                        <div class="square-content">
                            <a href="https://uk.linkedin.com/in/stuart-allen-8ab653120">
                                <svg viewBox="0 0 64 64" class="img-responsive" alt="linkedin">
                                    <use xlink:href="#linkedin"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>


</div>