<!--create fluid container for full width background image-->
<div class="bottom-border--green inner-shadow sadd-home-skills sadd-home-skills--illustration">
    <!--create normal container to constrain width of page content-->
    <div class="container">
        <!--create first row-->
        <div class="row">

            <div class="col-md-4">
                <img class="img-responsive img-thumbnail img-rounded sadd-home-skills__example" src="/images/projects/computer-you-poster.jpg">
                <a href="/illustration.html" class="btn btn-primary btn-lg btn-block sadd-home-skills__btn" style="">View Design Work</a>
            </div>

            <div class="col-md-8">
                <div class="panel">
                    <div class="panel-body">
                        <img class="svg-inject showcase-icon" src="/images/ui/icons/showcase-icons_pen.svg">
                        <h2>Illustration</h2>
                        <hr>
                        <p class="lead">The best ideas come from great insights mixed with great imaginations</p>
                        <p>My skill in illustration prides itself on evolving to meet the demands of the media industry and understands the pressures on you the Artbuyer, Art Director, Designer or Creative Service buyer. I am here to help source the right style for your project and produce the best work possible.</p>
                        <p>I am always keen to bring you solutions to the most difficult of design problems or to help you meet your impossible deadlines.</p>
                    </div>
                </div>
            </div>

        </div>
        <!--end first row-->
    </div>
    <!--end restricted width container-->
</div>
<!--end fluid container for background image-->