<!--skill showcase-->
<div class="bottom-border--default inner-shadow sadd-dark-bg">
    <div class="container">
        <div class="row sadd-home-showcase">

            <div class="col-xs-5 col-xs-offset-1 col-sm-2 col-sm-offset-2">
                <a href="/web-design.html">
                    <div class="sadd-home-showcase__item">

                        <div class="square-container sadd-home-showcase__image">
                            <div class="square-content">

                                <img class="svg-inject showcase-icon" src="/images/ui/icons/showcase-icons_code.svg">

                            </div>
                        </div>

                        <div class="sadd-home-showcase__label">
                            <span>Web Design</span>
                        </div>

                    </div>
                </a>
            </div>

            <div class="col-xs-5 col-sm-2">
                <a href="/graphic-design.html">
                    <div class="sadd-home-showcase__item">
                        <div class="square-container sadd-home-showcase__image">
                            <div class="square-content">

                                <img class="svg-inject showcase-icon" src="/images/ui/icons/showcase-icons_transform.svg">

                            </div>
                        </div>

                        <div class="sadd-home-showcase__label">
                            <span>Graphic Design</span>
                        </div>

                    </div>
                </a>
            </div>

            <div class="col-xs-5 col-xs-offset-1 col-sm-2 col-sm-offset-0">
                <a href="/illustration.html">
                    <div class="sadd-home-showcase__item">
                        <div class="square-container sadd-home-showcase__image">
                            <div class="square-content">

                                <img class="svg-inject showcase-icon" src="/images/ui/icons/showcase-icons_pen.svg">

                            </div>
                        </div>

                        <div class="sadd-home-showcase__label">
                            <span>Illustration</span>
                        </div>

                    </div>
                </a>
            </div>

            <div class="col-xs-5 col-sm-2">
                <a href="/animation.html">
                    <div class="sadd-home-showcase__item">
                        <div class="square-container sadd-home-showcase__image">
                            <div class="square-content">

                                <img class="svg-inject showcase-icon" src="/images/ui/icons/showcase-icons_time-line.svg">

                            </div>
                        </div>

                        <div class="sadd-home-showcase__label">
                            <span>Animation</span>
                        </div>

                    </div>
                </a>
            </div>

        </div>
    </div>
</div>