<!--create fluid container for full width background image-->
<div class="bottom-border--green inner-shadow sadd-home-skills sadd-home-skills--webdesign">
    <!--create normal container to constrain width of page content-->
    <div class="container">
        <!--create first row-->
        <div class="row">

            <div class="col-md-4">
                <img class="img-responsive img-thumbnail img-rounded sadd-home-skills__example" src="/images/projects/mannatech-europe/mannatech-focus-website.jpg">
                <a href="/web-design.html" class="btn btn-primary btn-lg btn-block sadd-home-skills__btn" style="">View Design Work</a>
            </div>

            <div class="col-md-8">
                <div class="panel">
                    <div class="panel-body">
                        <img class="svg-inject showcase-icon" src="/images/ui/icons/showcase-icons_code.svg">
                        <h2>Web Design</h2>
                        <hr>
                        <p class="lead">More than just websites</p>
                        <p>Web design today covers everything from micro-sites for advertising a product, to fully featured, cross platform applications.</p>
                        <p>I aim to look at what you are trying to achieve and what your brand is about, then prescribe the best solution.</p>
                        <p>Bigger isn’t always better and I will help you understand 21st century internet culture so you can directly reach your audience.</p>
                    </div>
                </div>
            </div>

        </div>
        <!--end first row-->
    </div>
    <!--end restricted width container-->
</div>
<!--end fluid container for background image-->