<!--create fluid container for full width background image-->
<div class="bottom-border--orange inner-shadow sadd-home-skills sadd-home-skills--graphicdesign">
    <!--create normal container to constrain width of page content-->
    <div class="container">
        <!--create first row-->
        <div class="row">

            <div class="col-md-4 col-md-push-8">
                <img class="img-responsive img-thumbnail img-rounded sadd-home-skills__example" src="/images/projects/traffic-control/traffic-control-Postcard.jpg">
                <a href="/graphic-design.html" class="btn btn-primary btn-lg btn-block sadd-home-skills__btn" style="">View Design Work</a>
            </div>

            <div class="col-md-8 col-md-pull-4">
                <div class="panel">
                    <div class="panel-body">
                        <div class="showcase-icon"><img class="svg-inject" src="/images/ui/icons/showcase-icons_transform.svg"></div>
                        <h2>Graphic Design</h2>
                        <hr>
                        <p class="lead">Your brand is your business and I enjoy building brands!</p>
                        <p>I specialise in the design and management of engaging graphics, brochures and data visualisation; each and every one designed to not just inform but to inspire. I go further to ensure that your audience receives the message you want to convey.</p>
                        <p>I bring this all together in compelling and creative ways to transform the way you reach and engage with your consumers.</p>
                    </div>
                </div>
            </div>

        </div>
        <!--end first row-->
    </div>
    <!--end restricted width container-->
</div>
<!--end fluid container for background image-->