<div class="sadd-footer">

    <div class="container">

        <div class="row">

            <!--footer links-->
            <div class="col-sm-3 col-md-2">

                <div class="sadd-footer__links-column">
                    <ul>
                        <li><a href="/home.html">Home</a></li>
                        <li><a href="/about.html">About</a></li>
                        <li><a href="/contact.html">Contact</a></li>
                    </ul>
                </div>

            </div>

            <div class="col-sm-3 col-md-2">

                <div class="sadd-footer__links-column">
                    <ul>
                        <li>
                            <a href="/web-design.html">Web Design</a>
                        </li>
                        <li>
                            <a href="/graphic-design.html">Graphic Design</a>
                        </li>
                        <li>
                            <a href="/illustration.html">Illustration</a>
                        </li>
                        <li>
                            <a href="/animation.html">Animation</a>
                        </li>
                    </ul>
                </div>

            </div>
            <!--footer logo and social-->
            <div class="col-sm-6 col-md-8">
                <!--logo-->
                <div class="sadd-footer__logo"><a href="/home.html"><span class="stuart-allen">Stuart Allen</span> <span class="design">Design</span></a></div>
                <!--social-->
                <div class="row sadd-footer__social-icons">

                    <div class="col-xs-2 col-xs-offset-2 col-sm-offset-4 col-md-1 col-md-offset-8">
                        <div class="square-container">
                            <div class="square-content">
                                <a href="https://twitter.com/stuart_a_design">
                                    <svg viewBox="0 0 64 64" class="img-responsive" alt="twitter">
                                        <use xlink:href="#twitter"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2 col-md-1">
                        <div class="square-container">
                            <div class="square-content">
                                <a href="https://www.instagram.com/stuart_allen_design/">
                                    <svg viewBox="0 0 64 64" class="img-responsive" alt="instagram">
                                        <use xlink:href="#instagram"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2 col-md-1">
                        <div class="square-container">
                            <div class="square-content">
                                <a href="https://www.facebook.com/Stuart-Allen-Design-233081700392402/">
                                    <svg viewBox="0 0 64 64" class="img-responsive" alt="facebook">
                                        <use xlink:href="#facebook"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2 col-md-1">
                        <div class="square-container">
                            <div class="square-content">
                                <a href="https://uk.linkedin.com/in/stuart-allen-8ab653120">
                                    <svg viewBox="0 0 64 64" class="img-responsive" alt="linkedin">
                                        <use xlink:href="#linkedin"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-sm-4">

                <div>

                    <h6>Copyright © Stuart Allen</h6>

                </div>

            </div>

        </div>

    </div>

</div>