<div class="sadd-nav navbar navbar-fixed-top">
    
    <div class="container">
        
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/home.html" class="sadd-logo navbar-brand">
                <div class="sadd-logo__title hidden-xs">
                    <span class="sadd-logo__name">Stuart Allen</span> <span class="sadd-logo__role">Design</span>
                </div>
                <div class="sadd-logo__title visible-xs">
                    <span class="sadd-logo__name">SA</span><span class="sadd-logo__role">D</span>
                </div>
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Showcase <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/web-design.html">Web Design</a></li>
                        <li><a href="/graphic-design.html">Graphic Design</a></li>
                        <li><a href="/illustration.html">Illustration</a></li>
                        <li><a href="/animation.html">Animation</a></li>
                    </ul>
                </li>
                <li><a href="/about.html">About</a></li>
                <li><a href="/contact.html">Contact</a></li>
            </ul>
        </div>

    </div>

</div>