.sadd-hero-bg {
    background-image: url("/images/ui/sadd-background-rev3.jpg");
    background-position: top center;
    background-size: cover;
    background-size: auto 100%;
    @include screen-sm {
        background-size: auto 130%;
    }
}