.sadd-projects__intro {
    margin-top: 5rem;
}

.sadd-projects-list {
    min-height: 100%;
}

.sadd-projects {
    margin: 0;
    padding: 0;
    padding-top: 2rem;
    list-style: none;
    li {
        margin-bottom: 2rem;
        a {
            .panel {
                margin: 0;
                overflow: hidden;
            }
            //image styling
            .sadd-project__image-cont {
                position: relative;
                height: 10rem;
                overflow: hidden;
                .sadd-project__image {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-position: center;
                    background-size: cover;
                    transition: transform 0.2s ease;
                }
            }
            &:hover,
            &:focus {
                .sadd-project__image {
                    transform: scale(1.1, 1.1);
                }
            }
            //text styling
            .sadd-project__text-cont {
                padding: 0.5rem 1rem;
                height: 4rem;                
            }
        }
    }
}